# Anthropic/hh-rlhf

In [ ]:
import datasets
from datasets import load_dataset

dataset = load_dataset("data/hh-rlhf")
dataset

In [ ]:
dataset['train'][0]

In [ ]:
dataset['test'][0]

# openai/summarize_from_feedback

In [ ]:
from datasets import load_dataset

dataset = load_dataset("openai/summarize_from_feedback")

# openai original data

In [5]:
import torch
from transformers import AutoTokenizer, AutoModelForCausalLM
import pandas as pd

# MODEL_NAME = 'openai-community/gpt2-large' TODO: change to gpt2-large
MODEL_NAME = 'openai-community/gpt2'
PROJECT_DIR = '../'

DATA_FILENAME = [
    'cnndm_offline_60k.json',
    'cnndm_online_45k.json',
    'descriptiveness_offline_5k.json',
    'sentimen_offline_5k.json',
    'tldr_offline_60k.json',
    'tldr_online_45k.json'
]

tokenizer = AutoTokenizer.from_pretrained(MODEL_NAME)
model = AutoModelForCausalLM.from_pretrained(MODEL_NAME)

In [4]:
for filename in DATA_FILENAME:
    df = pd.read_json(f'{PROJECT_DIR}/data/{filename}')
    print(f"=== {filename}: {len(df)} ===")
    display(df.head(3))
    row = df.iloc[0]
    print(f"Query: {tokenizer.decode(row['query'])}")
    print(f"Sample0: {tokenizer.decode(row['sample0'])}")
    print(f"Sample1: {tokenizer.decode(row['sample1'])}")
    print(f"Sample2: {tokenizer.decode(row['sample2'])}")
    print(f"Sample3: {tokenizer.decode(row['sample3'])}")
    print(f"Best: {row['best']}")

=== cnndm_offline_60k.json: 60588 ===

,query,sample0,sample1,sample2,sample3,best
0,"[7571, 1528, 878, 1992, 8732, 2486, 338, 717, ...","[1992, 2486, 338, 6146, 316, 4395, 4590, 373, ...","[2486, 468, 257, 6146, 316, 4395, 20005, 11, 4...","[383, 2635, 2097, 2716, 257, 4286, 286, 1992, ...","[1992, 2486, 468, 645, 2126, 644, 339, 338, 18...",2
1,"[32, 10614, 5858, 14716, 24105, 656, 257, 6908...","[317, 10614, 5858, 14716, 24105, 656, 257, 690...","[383, 10614, 5858, 286, 257, 3155, 287, 28847,...","[317, 15291, 10614, 5858, 373, 14716, 5710, 65...","[317, 10614, 5858, 14716, 5710, 656, 257, 6908...",2
2,"[10364, 8732, 2486, 284, 8279, 625, 262, 4960,...","[383, 471, 13, 50, 13, 1893, 318, 262, 717, 55...","[2486, 318, 257, 1256, 25242, 621, 262, 4960, ...","[383, 1893, 373, 21272, 416, 16755, 1524, 1719...","[383, 1893, 373, 21272, 416, 16755, 1524, 1719...",2

Query: Two days before President Barack Obama's first trip outside Washington to promote his gun-control proposals, the White House tried on Saturday to settle a brewing mystery by releasing a photo to back his claim to be a skeet shooter.

Obama had set inquiring minds spinning when, in an interview with The New Republic magazine, he answered 'yes' when asked if he had ever fired a gun. The admission came as a surprise to many.

'Yes, in fact, up at Camp David, we do skeet shooting all the time,' Obama said in the interview released last weekend, referring to the official presidential retreat in rural Maryland, which he last visited in October while campaigning for re-election.

Guns a blazing: The White House released this picture, taken on Aug. 4, of the president skeet shooting after skeptics questioned Mr Obama's claim that he enjoyed shooting at Camp David

Former White House senior adviser David Plouffe took to Twitter to mock those who might claim the photograph of President Obama shooting a firearm is fake

White House communications director Dan Pfeiffer joined in the teasing by posting the Obama pic from his official Twitter account

George W. Bush looks to the sky during a dove hunt in Hockley, Texas in 2004

Asked whether the entire family participates, the president said: 'Not the girls, but oftentimes guests of mine go up there.'

Then on Saturday morning, the White House released the photo of Obama
shooting at clay pigeons at the presidential retreat at Camp David in
Maryland.

Former White House senior adviser David Plouffe couldn't resist mocking those who might claim the photograph of President
Obama shooting was fake and tweeted: 'Attention skeet birthers. Make our day - let the photoshop conspiracies begin!'

White House communications director Dan Pfeiffer also joined in the teasing and tweeted the picture of the President with a shout-out to the 'skeeters' - namely people who might claim the image is false.

Both men received a large amount of online abuse for their attempts at humor.

The image of a U.S. president holding a gun is certainly nothing new. A number of men who have held the highest office in America have been pictured holding guns, from Theodore Roosevelt to George W. Bush.


Sample0:  President Obama's skeet shooting photo was released on Saturday morning, hours after the White House released a photo of him shooting at a clay pigeon

The photo was taken on Aug. 4. It shows the president holding a shotgun and a skeet-shooting rifle


Sample1:  Obama has a skeet shooting hobby, but he doesn't like to show it off.<|endoftext|>
Sample2:  The White House released a picture of President Obama skeet shooting on Saturday morning. It was taken at Camp David, which is where the president has been staying since October. The image was taken by White House photographer Pete Souza.

Obama has long been a keen shooter, and he has been pictured shooting skeet in his youth.

Sample3:  President Obama has no idea what he's doing and his White House photoshop team is trying to make him look like a badass

The president's wife Michelle, who has been photographed holding a gun, has also been photographed in her underwear.

The president has also been pictured holding a rifle and a pistol, though not in the same pose.

Best: 2
=== cnndm_online_45k.json: 46545 ===

,query,sample0,sample1,sample2,sample3,best
0,"[7571, 1528, 878, 1992, 8732, 2486, 338, 717, ...","[1992, 2486, 338, 6146, 316, 4395, 4590, 373, ...","[2486, 468, 257, 6146, 316, 4395, 20005, 11, 4...","[383, 2635, 2097, 2716, 257, 4286, 286, 1992, ...","[1992, 2486, 468, 645, 2126, 644, 339, 338, 18...",2
1,"[32, 10614, 5858, 14716, 24105, 656, 257, 6908...","[317, 10614, 5858, 14716, 24105, 656, 257, 690...","[383, 10614, 5858, 286, 257, 3155, 287, 28847,...","[317, 15291, 10614, 5858, 373, 14716, 5710, 65...","[317, 10614, 5858, 14716, 5710, 656, 257, 6908...",2
2,"[10364, 8732, 2486, 284, 8279, 625, 262, 4960,...","[383, 471, 13, 50, 13, 1893, 318, 262, 717, 55...","[2486, 318, 257, 1256, 25242, 621, 262, 4960, ...","[383, 1893, 373, 21272, 416, 16755, 1524, 1719...","[383, 1893, 373, 21272, 416, 16755, 1524, 1719...",2

Query: Two days before President Barack Obama's first trip outside Washington to promote his gun-control proposals, the White House tried on Saturday to settle a brewing mystery by releasing a photo to back his claim to be a skeet shooter.

Obama had set inquiring minds spinning when, in an interview with The New Republic magazine, he answered 'yes' when asked if he had ever fired a gun. The admission came as a surprise to many.

'Yes, in fact, up at Camp David, we do skeet shooting all the time,' Obama said in the interview released last weekend, referring to the official presidential retreat in rural Maryland, which he last visited in October while campaigning for re-election.

Guns a blazing: The White House released this picture, taken on Aug. 4, of the president skeet shooting after skeptics questioned Mr Obama's claim that he enjoyed shooting at Camp David

Former White House senior adviser David Plouffe took to Twitter to mock those who might claim the photograph of President Obama shooting a firearm is fake

White House communications director Dan Pfeiffer joined in the teasing by posting the Obama pic from his official Twitter account

George W. Bush looks to the sky during a dove hunt in Hockley, Texas in 2004

Asked whether the entire family participates, the president said: 'Not the girls, but oftentimes guests of mine go up there.'

Then on Saturday morning, the White House released the photo of Obama
shooting at clay pigeons at the presidential retreat at Camp David in
Maryland.

Former White House senior adviser David Plouffe couldn't resist mocking those who might claim the photograph of President
Obama shooting was fake and tweeted: 'Attention skeet birthers. Make our day - let the photoshop conspiracies begin!'

White House communications director Dan Pfeiffer also joined in the teasing and tweeted the picture of the President with a shout-out to the 'skeeters' - namely people who might claim the image is false.

Both men received a large amount of online abuse for their attempts at humor.

The image of a U.S. president holding a gun is certainly nothing new. A number of men who have held the highest office in America have been pictured holding guns, from Theodore Roosevelt to George W. Bush.


Sample0:  President Obama's skeet shooting photo was released on Saturday morning, hours after the White House released a photo of him shooting at a clay pigeon

The photo was taken on Aug. 4. It shows the president holding a shotgun and a skeet-shooting rifle


Sample1:  Obama has a skeet shooting hobby, but he doesn't like to show it off.<|endoftext|>
Sample2:  The White House released a picture of President Obama skeet shooting on Saturday morning. It was taken at Camp David, which is where the president has been staying since October. The image was taken by White House photographer Pete Souza.

Obama has long been a keen shooter, and he has been pictured shooting skeet in his youth.

Sample3:  President Obama has no idea what he's doing and his White House photoshop team is trying to make him look like a badass

The president's wife Michelle, who has been photographed holding a gun, has also been photographed in her underwear.

The president has also been pictured holding a rifle and a pistol, though not in the same pose.

Best: 2
=== descriptiveness_offline_5k.json: 6260 ===

,query,sample0,sample1,sample2,sample3,best
0,"[6542, 3114, 866, 11, 290, 2497, 606, 3393, 13...","[383, 582, 351, 262, 21213, 3114, 29627, 5385,...","[198, 198, 1, 2061, 262, 5968, 318, 326, 1517,...","[198, 1, 2061, 318, 340, 1701, 6542, 1965, 13,...","[383, 3290, 550, 890, 11, 6546, 266, 9045, 923...",3
1,"[1318, 318, 645, 835, 314, 1101, 1016, 284, 30...","[314, 2513, 503, 286, 262, 14043, 290, 766, 61...","[383, 6510, 389, 477, 5586, 379, 262, 3084, 11...","[632, 17603, 502, 286, 618, 314, 373, 257, 131...","[314, 1949, 407, 284, 892, 546, 262, 1109, 326...",0
2,"[198, 6, 35284, 284, 766, 407, 2506, 318, 7195...","[198, 6, 5195, 338, 673, 1804, 3734, 8348, 198...","[705, 464, 23684, 318, 625, 13, 1318, 338, 257...","[198, 6, 10248, 670, 4032, 1139, 5833, 273, 13...","[705, 3347, 338, 587, 1762, 1327, 13, 1375, 33...",3

Query:  Steve looked down, and saw them immediately. He also saw they were looking directly back at him. There was a man with a full beard, another man leaning on a cane, and a strange-looking shaggy white-and-brown dog that was truly humongous in size.
Sample0:  The man with the beard looked vaguely familiar. Steve felt his heart start racing in his chest.
Sample1:

"What the hell is that thing?" Steve asked.

"It's a dog," Henry said.
Sample2:
"What is it?" Steve asked. He could hardly speak. He stared at the animals.
Sample3:  The dog had long, thick wiry fur, and a wide, bulging muzzle.
Best: 3
=== sentimen_offline_5k.json: 6264 ===

,query,sample0,sample1,sample2,sample3,best
0,"[679, 750, 407, 588, 1243, 543, 14516, 683, 32...","[679, 373, 262, 530, 508, 561, 407, 1577, 510,...","[679, 6619, 284, 345, 11, 339, 5158, 284, 262,...","[679, 373, 257, 30425, 88, 1468, 582, 13, 679,...","[314, 1011, 340, 345, 836, 470, 588, 683, 1701...",0
1,"[2744, 16617, 3888, 284, 262, 1306, 5118, 866,...","[198, 198, 1, 40, 4601, 345, 1549, 3181, 502, ...","[399, 13808, 11, 1165, 11, 373, 7722, 1660, 13...","[198, 198, 1, 43, 13808, 19223, 11, 314, 716, ...","[314, 2492, 470, 1654, 314, 561, 307, 1498, 28...",3
2,"[1375, 1718, 1165, 867, 7127, 287, 262, 1182, ...","[366, 40, 423, 284, 467, 526, 198, 1, 40, 760,...","[366, 2437, 750, 345, 760, 1701, 198, 1, 3347,...","[366, 40, 1101, 407, 6639, 11, 290, 314, 836, ...","[366, 40, 836, 470, 761, 284, 307, 326, 835, 1...",3

Query:  He did not like things which reminded him that he had once been not only outside the progressive element but even outside the College. He did not always like Curry either. His pleasure in being with him was not that sort of pleasure.

"Yes," said Curry. "Denniston was your chief rival.
Sample0:  He was the one who would not give up, who would have a great deal to say.
Sample1:  He talked to you, he spoke to the Dean. He talked to the others.
Sample2:  He was a cranky old man. He was fat and ugly and he had an attitude as well as an attitude.
Sample3:  I take it you don't like him?"

"No. I don't.
Best: 0
=== tldr_offline_60k.json: 60055 ===

,query,sample0,sample1,sample2,sample3,best
0,"[3987, 470, 307, 19538, 13, 220, 770, 1611, 28...","[1892, 262, 886, 3061, 286, 27770, 13, 198, 19...","[198, 198, 39315, 1042, 318, 257, 17092, 2714,...","[39627, 318, 257, 1919, 2569, 1080, 810, 262, ...","[554, 262, 1382, 510, 284, 27770, 11, 612, 481...",1
1,"[10814, 374, 14, 36484, 13, 220, 3423, 338, 61...","[198, 198, 12, 314, 5839, 617, 18824, 198, 198...","[367, 29281, 1378, 19791, 13, 785, 14, 64, 14,...","[198, 198, 40, 5839, 10969, 329, 616, 3656, 29...","[314, 1043, 257, 5680, 286, 3404, 290, 340, 33...",1
2,"[35284, 13, 314, 1392, 616, 40846, 5867, 329, ...","[770, 20766, 318, 1107, 257, 13824, 13, 198, 1...","[770, 318, 3538, 530, 286, 262, 1266, 12306, 1...","[1002, 345, 389, 2045, 329, 257, 4988, 1049, 1...","[317, 845, 1029, 3081, 11, 880, 12, 30473, 207...",1

Query: Don't be foolish.  This kind of strawmanning of communism may work on people who have been kept in the dark as to the actual positions of Communists (Marxists in particular), but you really are wasting your time spouting this foolishness in a forum such as this.

*Pure communism* is the end goal of revolutionary activity.  And it relies on establishing sufficient infrastructure, productive forces (technology) and a consequential *culture of egalitarianism* to come into existence.  It is these factors, not vulgar rationing, which will allow for people to draw from the common wealth according to their material desires and engage in work wherein it can be said they are in no respect alienated from the product of their labor.

In the build up toward this, by no means will people be compensated irrespective of their contribution of labor.  That is just a damned lie, and you should stop repeating it (even if you were as of yet unaware of its untruthfulness.)

What will **not exist** however (once the lower stages of socialism are well established) is **capital** (the private holding of the means of production.)  This means that no one will have the right to claim profit (labors of others) as income by virtue of simply holding a title.
Sample0:  Not the end goal of communism.

Please note: I am not trying to be mean.  I am trying to help you understand the situation you are in. It is not a charge of ignorance to say that communism is the wrong goal, but a simple statement of the facts.<|endoftext|>
Sample1:

Capitalism is a privately held system based on the division of labor, and that is a very bad thing.

Capitalism is a *socialist* system based on the division of labor (better, at least, than communism) and that is a very good thing.

Sample2:  Communism is a socialistic system where the state owns and controls the means of production (what is commonly referred to as "capital") and that the motive force is the goal of social change.

Advertisements<|endoftext|>
Sample3:  In the build up to communism, there will be no *capital* and no *profit* to be had via ownership of the means of production.  By the time it's done, all will be equal.

See also:

The End of Capitalism.<|endoftext|>
Best: 1
=== tldr_online_45k.json: 46287 ===

,query,sample0,sample1,sample2,sample3,best
0,"[3987, 470, 307, 19538, 13, 220, 770, 1611, 28...","[1892, 262, 886, 3061, 286, 27770, 13, 198, 19...","[198, 198, 39315, 1042, 318, 257, 17092, 2714,...","[39627, 318, 257, 1919, 2569, 1080, 810, 262, ...","[554, 262, 1382, 510, 284, 27770, 11, 612, 481...",1
1,"[10814, 374, 14, 36484, 13, 220, 3423, 338, 61...","[198, 198, 12, 314, 5839, 617, 18824, 198, 198...","[367, 29281, 1378, 19791, 13, 785, 14, 64, 14,...","[198, 198, 40, 5839, 10969, 329, 616, 3656, 29...","[314, 1043, 257, 5680, 286, 3404, 290, 340, 33...",1
2,"[35284, 13, 314, 1392, 616, 40846, 5867, 329, ...","[770, 20766, 318, 1107, 257, 13824, 13, 198, 1...","[770, 318, 3538, 530, 286, 262, 1266, 12306, 1...","[1002, 345, 389, 2045, 329, 257, 4988, 1049, 1...","[317, 845, 1029, 3081, 11, 880, 12, 30473, 207...",1

Query: Don't be foolish.  This kind of strawmanning of communism may work on people who have been kept in the dark as to the actual positions of Communists (Marxists in particular), but you really are wasting your time spouting this foolishness in a forum such as this.

*Pure communism* is the end goal of revolutionary activity.  And it relies on establishing sufficient infrastructure, productive forces (technology) and a consequential *culture of egalitarianism* to come into existence.  It is these factors, not vulgar rationing, which will allow for people to draw from the common wealth according to their material desires and engage in work wherein it can be said they are in no respect alienated from the product of their labor.

In the build up toward this, by no means will people be compensated irrespective of their contribution of labor.  That is just a damned lie, and you should stop repeating it (even if you were as of yet unaware of its untruthfulness.)

What will **not exist** however (once the lower stages of socialism are well established) is **capital** (the private holding of the means of production.)  This means that no one will have the right to claim profit (labors of others) as income by virtue of simply holding a title.
Sample0:  Not the end goal of communism.

Please note: I am not trying to be mean.  I am trying to help you understand the situation you are in. It is not a charge of ignorance to say that communism is the wrong goal, but a simple statement of the facts.<|endoftext|>
Sample1:

Capitalism is a privately held system based on the division of labor, and that is a very bad thing.

Capitalism is a *socialist* system based on the division of labor (better, at least, than communism) and that is a very good thing.

Sample2:  Communism is a socialistic system where the state owns and controls the means of production (what is commonly referred to as "capital") and that the motive force is the goal of social change.

Advertisements<|endoftext|>
Sample3:  In the build up to communism, there will be no *capital* and no *profit* to be had via ownership of the means of production.  By the time it's done, all will be equal.

See also:

The End of Capitalism.<|endoftext|>
Best: 1

In [7]:
df = pd.read_json(f'{PROJECT_DIR}/data/{DATA_FILENAME[0]}')
df

,query,sample0,sample1,sample2,sample3,best
0,"[7571, 1528, 878, 1992, 8732, 2486, 338, 717, ...","[1992, 2486, 338, 6146, 316, 4395, 4590, 373, ...","[2486, 468, 257, 6146, 316, 4395, 20005, 11, 4...","[383, 2635, 2097, 2716, 257, 4286, 286, 1992, ...","[1992, 2486, 468, 645, 2126, 644, 339, 338, 18...",2
1,"[32, 10614, 5858, 14716, 24105, 656, 257, 6908...","[317, 10614, 5858, 14716, 24105, 656, 257, 690...","[383, 10614, 5858, 286, 257, 3155, 287, 28847,...","[317, 15291, 10614, 5858, 373, 14716, 5710, 65...","[317, 10614, 5858, 14716, 5710, 656, 257, 6908...",2
2,"[10364, 8732, 2486, 284, 8279, 625, 262, 4960,...","[383, 471, 13, 50, 13, 1893, 318, 262, 717, 55...","[2486, 318, 257, 1256, 25242, 621, 262, 4960, ...","[383, 1893, 373, 21272, 416, 16755, 1524, 1719...","[383, 1893, 373, 21272, 416, 16755, 1524, 1719...",2
3,"[29818, 6553, 3635, 2923, 257, 8501, 18614, 21...","[6085, 3386, 2923, 257, 8501, 18614, 9361, 284...","[198, 198, 14040, 468, 2923, 379, 1551, 838, 1...","[198, 198, 29818, 3386, 2923, 257, 8501, 18614...","[198, 198, 29818, 3386, 2923, 1115, 12890, 287...",2
4,"[1722, 673, 10448, 607, 3126, 400, 10955, 11, ...","[21776, 44630, 318, 257, 1966, 6853, 290, 468,...","[317, 1966, 6853, 468, 3377, 517, 621, 4248, 1...","[21776, 44630, 318, 257, 1643, 286, 257, 46960...","[632, 338, 407, 262, 717, 640, 673, 338, 550, ...",1
...,...,...,...,...,...,...
60583,"[464, 1849, 69, 666, 66, 22161, 1849, 1659, 25...","[383, 2324, 4860, 373, 2111, 284, 3613, 465, 5...","[4422, 27583, 373, 17676, 656, 262, 1660, 416,...","[4544, 12150, 293, 290, 1770, 27583, 547, 1126...","[4544, 12150, 293, 290, 1770, 27583, 547, 1126...",1
60584,"[464, 1849, 69, 666, 66, 22161, 1849, 1659, 25...","[383, 2324, 4860, 373, 2111, 284, 3613, 465, 5...","[4422, 27583, 373, 17676, 656, 262, 1660, 416,...","[4544, 12150, 293, 290, 1770, 27583, 547, 1126...","[4544, 12150, 293, 290, 1770, 27583, 547, 1126...",1
60585,"[464, 1849, 69, 666, 66, 22161, 1849, 1659, 25...","[383, 2324, 4860, 373, 2111, 284, 3613, 465, 5...","[4422, 27583, 373, 17676, 656, 262, 1660, 416,...","[4544, 12150, 293, 290, 1770, 27583, 547, 1126...","[4544, 12150, 293, 290, 1770, 27583, 547, 1126...",1
60586,"[464, 1849, 69, 666, 66, 22161, 1849, 1659, 25...","[383, 2324, 4860, 373, 2111, 284, 3613, 465, 5...","[4422, 27583, 373, 17676, 656, 262, 1660, 416,...","[4544, 12150, 293, 290, 1770, 27583, 547, 1126...","[4544, 12150, 293, 290, 1770, 27583, 547, 1126...",2
60587,"[464, 1849, 69, 666, 66, 22161, 1849, 1659, 25...","[383, 2324, 4860, 373, 2111, 284, 3613, 465, 5...","[4422, 27583, 373, 17676, 656, 262, 1660, 416,...","[4544, 12150, 293, 290, 1770, 27583, 547, 1126...","[4544, 12150, 293, 290, 1770, 27583, 547, 1126...",2

In [15]:
import swifter
df['sample0'].swifter.apply(lambda lst: [-1 if x == 50259 else x for x in lst]).iloc[0]

Pandas Apply:   0%|          | 0/60588 [00:00<?, ?it/s]

[1992,
 2486,
 338,
 6146,
 316,
 4395,
 4590,
 373,
 2716,
 319,
 3909,
 3329,
 11,
 2250,
 706,
 262,
 2635,
 2097,
 2716,
 257,
 4590,
 286,
 683,
 4395,
 379,
 257,
 21558,
 46387,
 198,
 198,
 464,
 4590,
 373,
 2077,
 319,
 2447,
 13,
 604,
 13,
 632,
 2523,
 262,
 1893,
 4769,
 257,
 18607,
 290,
 257,
 6146,
 316,
 12,
 1477,
 12494,
 11575,
 198,
 198,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1]